<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435865631185-194nat4tueu747fn94ft1sesq78j021d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435865631185-194nat4tueu747fn94ft1sesq78j021d</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVysTQFPS4WE-TZHWe86AIOd1L3mNSX0</string>
	<key>GCM_SENDER_ID</key>
	<string>435865631185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Andryuschenko.Digital</string>
	<key>PROJECT_ID</key>
	<string>digital-c7674</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-c7674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:435865631185:ios:168e5cc2c0868cea</string>
	<key>DATABASE_URL</key>
	<string>https://digital-c7674.firebaseio.com</string>
</dict>
</plist>